$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo: #ccc;
$color-letra: red;
$color-secundario: rgb(170, 102, 102);

body{
    background-color: $color-fondo;
}
h1{
    color: $color-letra;
}
p{
    color: $color-secundario;
}
// anidation example
.box{
    border: 1px solid black;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    background: white;
    h1{
      color: blue;
    }
    p{
      color: green;
    }
    .info{
      font-size: 0.64rem;
      .autor{
        color: orange;
        font-size: 1.5rem;
      }
    }
  }