body{
   text-align: center;
}
.layout{
    /* Grid display and margin */
    display: grid;
    grid-gap: 10px;
    /* definicion columnas */
    /* grid-template-columns: 1fr 1fr 1fr; or */
    grid-template-columns: repeat(4, 1fr);
    border: 3px solid orangered;
    padding: 10px ;
    width: 60%;
    margin: 0px auto;
}

.box{
    background: #ccc;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 4px solid #222;
    /* padding: 10px; */
}
.red{
    background: red ;
}
.green{
    background: green ;
}
.blue{
    background: blue ;
}
.pink{
    background: pink ;
}